html, body {
    background-color:rgb(231, 206, 210);
    margin: 0;
    padding: 0;
    position: fixed;
}

h1 {
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    color: #e41258;
    margin-top: 250px;
}
p {
    font-size: 1vw;
    color:#d4134d;
    font-weight: bolder;
    grid-column: auto;
    text-align: center;
}
p1 {
    font-size: 1vw;
    color:#e03636;
    font-weight: bolder;
    text-align: center;
    padding: 450px;
}   
p2 {
    font-size:larger;
    color:#e03636;
    font-weight: bolder;
    text-align: fixed;
    padding: 120px;
}
.QN {
    float: left;
}
.QL{
    float: right;
}

#info {
    margin-top: 2.0rem;
}
#info .one {
    padding: 120px;
    object-fit: cover;
    text-align: center;
    float: left;
}
#info .two {
    padding: 120px;
    position: center;
    background-size: fixed;
    text-align: justify;
    object-fit: cover;
    float: right;
}
.QL {
    margin: 10px;
    padding: 20px;
    background-color: rgb(82, 114, 23);
    color:rgba(7, 7, 194, 0.993);
    font-size: medium;
    font-style:italic;
    font-weight: bolder;
    background-color:rgb(210, 215, 219);
    text-align: center;
}
.QN {
    margin: 10px;
    padding: 20px;
    background-color: rgb(82, 114, 23);
    color:rgba(7, 7, 194, 0.993);
    font-size: medium;
    font-style:italic;
    font-weight: bolder;
    background-color:rgb(210, 215, 219);
    text-align: center;
}
.b1 {
    padding: 10px;
    border:#d30147;
    background: mediumspringgreen;      
    text-align: center;
    font-weight: bold;
    position:fixed;
}
.avt {
    width: 200px;
    height: 200px;
    border-radius: 80%;
    padding: 16px;
    margin: 20px;
    border-style: double;
    background-image:center;
    color: #d30147;
    filter: blur(100%);
}
#music {
    opacity: .3;
    margin-top: 300px;
    margin-bottom: 300px;
    position: relative;
    width: 300px;
    height: 54px;
    margin-left: 800px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
#bgVideo {
    width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      filter: opacity(450px);
}
:root {
    --smaller: .75;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    padding-bottom: 300px;
    margin: 0;
}
body {
    align-items: center;
    display: flex;
    font-family: -apple-system, 
      BlinkMacSystemFont, 
      "Segoe UI", 
      Roboto, 
      Oxygen-Sans, 
      Ubuntu, 
      Cantarell, 
      "Helvetica Neue", 
      sans-serif;
    
}
.container {
    color: #b82828;
    margin-left: 500px;
    text-align: center;
    margin-bottom: 800px;
}
.countdown {
    position: center;
}
h2 {
    font-weight: bolder;
    display: inline-block;
    letter-spacing: .125rem;
    text-transform: uppercase;
    color:#b82828;    
}
li {
    display: inline-block;
    font-size: 1.25em;
    list-style-type: none;
    padding: 1.5em;
    margin: auto;
    text-transform: uppercase;
    color: #b41818;
    font-weight: bolder;
    
}
li span {
    display: block;
    font-weight: bolder;
    color: #c42a2a;
    margin-right: 300px;
    margin: auto;
    text-transform: uppercase;
    
}
@media only screen and (min-width: 800px) {
    .column {
        width: 100%;
    }
    h2 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
}

main {
    background: #d9d7d5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div {
    flex-basis: 33%;
}
menu {
    background: #d9d7d5;
    padding: 0.25rem;
    overflow-y: scroll;
    white-space: nowrap;
}
span {
    color: #ffffff;
    display: inline-block;
    margin: 0.25rem;
    padding: 0.5rem;
}

